.video-box {
    width: 340px;
    height: 250px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #000;
    border-radius: 7px;
    overflow: hidden;
    z-index: 9;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);


    // 暫時寫假的demo

    .video-bg-box {
        width: 340px;
        height: 166px;
        background: url('../../img/video/bg.png') no-repeat center center/cover;
    }

    // 這邊控制項先拿掉, 不確定要怎麼撥放, 一般狀況可使用 video 或安裝 react-player
    // video {
    //     margin-top: -24px;
    //     width: 451px;
    //     height: 300px;
    // }

    .video-play-box {
        position: absolute;
        height: 164px;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 999999;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            display: block;
            width: 36px;
            height: 36px;
            overflow: hidden;
            position: relative;
        }

        &.video-play {
            span {
                background: url('../../img/video/play.png') no-repeat center center/contain;
            }
        }

        &.video-pause {
            span {
                background: url('../../img/video/pause.png') no-repeat center center/contain;
            }
        }

    }

    .video-footer {
        background: #292933;
        height: 85px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 999999;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .left-box {
            padding: 0 25px;

            h4 {
                margin: 0;
                font-size: 1.5rem;
                color: #fff;

                &+span {
                    color: #F4CD44;
                    font-size: 0.9rem;
                }
            }
        }

        .right-box {
            position: absolute;
            right: 2rem;
            top: 1.8rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .video-control {
                width: 26px;
                height: 20px;
                display: block;

                &.video-mute {
                    background: url('../../img/video/mute.png') no-repeat center center/contain;
                }

                &.video-unmute {
                    background: url('../../img/video/unmute.png') no-repeat center center/contain;
                }

            }

            .video-close {
                width: 26px;
                height: 26px;
                background: url('../../img/video/close.png') no-repeat center center/contain;
                margin-left: 20px;
            }
        }
    }

    &.forpc {
        display: block;
    }

    &.formb {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    .video-box {
        width: 100%;
        height: 62px;
        bottom: 28px;
        right: 0;
        background: #292933;
        border-radius: 0;
        z-index: 9;

        // 暫時寫假的demo

        .video-bg-box {
            width: 113px;
            height: 63px;
            background: url('../../img/video/bg.png') no-repeat center center/contain;
        }


        // 這邊控制項先拿掉, 不確定要怎麼撥放, 一般狀況可使用 video 或安裝 react-player
        // video {
        //     width: 113px;
        //     height: 70px;
        //     margin-top: -6px;
        // }

        .video-play-box {
            height: 62px;
            width: 113px;
            left: 0;
            bottom: 30px;

            span {
                width: 28.6px;
                height: 28.6px;
            }

            &.video-play {
                span {
                    background: url('../../img/video/play.png') no-repeat center center/contain;
                }
            }

            &.video-pause {
                span {
                    background: url('../../img/video/pause.png') no-repeat center center/contain;
                }
            }

        }

        .video-footer {
            background: #292933;
            height: 62px;
            width: 100%;
            position: absolute;
            left: 113px;
            bottom: 0;

            .left-box {
                padding: 0 25px;

                h4 {
                    margin: 0;
                    font-size: 1rem;
                    color: #fff;

                    &+span {
                        color: #F4CD44;
                        font-size: 0.8rem;
                    }
                }
            }

            .right-box {
                right: 9rem;
                top: 1rem;

                .video-control {
                    width: 15.6px;
                    height: 12px;
                    display: block;
                }

                .video-close {
                    width: 20px;
                    height: 20px;
                    margin-left: 15px;
                }
            }
        }

        &.forpc {
            display: none;
        }

        &.formb {
            display: block;
        }

    }
}