@media screen and (min-width: 1600px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1566px;
    }
}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {

    .container,
    .container-sm {
        width: 100% !important;
        max-width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0;
        padding-right: 0;
    }


}


@media screen and (max-width: 768px) {
    .section_box ul li {
        margin: 10px auto;
    }

}

@media screen and (max-width: 660px) {}

@media screen and (max-width: 550px) {}

@media screen and (max-width: 521px) {}

@media screen and (max-width: 470px) {}

@media screen and (max-width: 440px) {}

@media screen and (max-width: 420px) {}

@media screen and (max-width: 410px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 370px) {}

@media screen and (max-width: 321px) {}

@media screen and (max-width: 280px) {}