.game-screen-box {
    // padding: 30px 20px;
    margin-left: 25px;

    span {
        display: block;
    }

    .fullscreen,
    .exitfullscreen {
        margin-right: 4px !important;
        width: 33px;
        height: 33px;
        cursor: pointer;
    }

    .fullscreen {
        background: url("../../../img/header/fullscreen.png") no-repeat center center/contain;

        &+span {
            color: #fff;
            font-size: 1.4rem;
            margin-left: 3px;
        }
    }

    .exitfullscreen {
        background: url("../../../img/header/exitfullscreen.png") no-repeat center center/contain;

        &+span {
            color: #fff;
            font-size: 1.4rem;
            margin-left: 3px;
        }
    }

}



@media screen and (max-width: 1200px) {
    .game-screen-box {
        margin-left: 7px;
    }
}