.screen-box {
    // padding: 30px 20px;

    .flex-box {
        display: flex;
        justify-content: center;
        align-items: center;

        .fullscreen,
        .exitfullscreen {
            margin-right: 4px !important;
            width: 38px;
            height: 38px;
            cursor: pointer;
        }

        .fullscreen {
            background: url("../../../img/header/fullscreen.png") no-repeat center center/contain;

            &+span {
                color: #fff;
                font-size: 1.4rem;
                margin-left: 3px;
            }
        }

        .exitfullscreen {
            background: url("../../../img/header/exitfullscreen.png") no-repeat center center/contain;

            &+span {
                color: #fff;
                font-size: 1.4rem;
                margin-left: 3px;
            }
        }
    }
}

@media screen and (max-width: 1082px) {
    .screen-box {

        width: 90%;
        margin: 10px 0 10px 25px;

        .flex-box {

            .fullscreen,
            .exitfullscreen {
                width: 28px;
                height: 28px;
            }

            .fullscreen {
                &+span {
                    font-size: 1rem;
                }
            }

            .exitfullscreen {
                &+span {
                    font-size: 1rem;
                }
            }
        }
    }
}