.game-betting-area {
    width: 100%;
    position: fixed;
    z-index: 3;
    bottom: 90px;
    left: 0;
    animation-name: anigamebettingareain;
    animation-duration: 1s;
    animation-timing-function: ease;

    .game-box-straight {
        display: none;
    }

    .game-betting-area-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -9rem;

        .left-box,
        .right-box {
            width: auto;
        }

        .middle-box {
            // max-width: 714px;
            width: 714px;
            height: 202px;
            // width: 502px;
            // height: 142px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            transition: all 1s ease-out;
            justify-content: center;
            position: relative;
            // border: 1px solid #fff;
            // background: url('../../img/games/control/btn_default.png') no-repeat center center/contain;
            transform: translateX(0) translateY(0) translateZ(0);

            .info-box {
                p {
                    font-size: 1.4rem;
                    color: #fff;
                    margin: 0;
                }
            }

            .bg-box {
                p {
                    font-size: 4rem;
                    color: rgba(0, 0, 0, 0.15);
                    margin: 0;
                    font-weight: bold;
                }
            }

            canvas {
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 2;
                width: 100%;
                height: auto;
                display: block;
            }

            // &.isbtn1 {
            //     background: url('../../img/games/control/is_btn1.png') no-repeat center center/contain;
            // }

            // &.isbtn2 {
            //     background: url('../../img/games/control/is_btn2.png') no-repeat center center/contain;
            // }

            // &.isbtn3 {
            //     background: url('../../img/games/control/is_btn3.png') no-repeat center center/contain;
            // }

            // &.isbtn4 {
            //     background: url('../../img/games/control/is_btn4.png') no-repeat center center/contain;
            // }

            // &.isbtn5 {
            //     background: url('../../img/games/control/is_btn5.png') no-repeat center center/contain;
            // }

            &.disable {
                transform: perspective(400px) rotateX(25deg) translateX(0) translateY(0) translateZ(0);
                opacity: 0.5;

            }

            div {
                position: absolute;
            }

            .btn-box {
                &.isAct {
                    span {
                        display: inline-block;
                        padding: 5px 25px 4px;
                        border: 1px solid #fff;
                        background: rgba(0, 0, 0, 0.7);
                        border-radius: 19px;
                        font-size: 0.8rem;
                        color: #fff;
                        position: absolute;
                        z-index: 4;

                        &::before {
                            content: '';
                            background: url('../../img/games/chips/small_chip.png') no-repeat center center/contain;
                            display: block;
                            width: 13px;
                            height: 13px;
                            position: absolute;
                            left: 7px;
                            bottom: 4px;
                        }

                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 7px;
                            height: 7px;
                            background: rgba(0, 0, 0, 0.4);
                            left: 50%;
                            bottom: 0;
                            transform: translate(-50%, 63%) rotate(45deg);
                            box-shadow: 1px 1px 0 0 #fff;
                        }
                    }
                }
            }

            .btn1 {
                left: 0;
                bottom: 0;
                width: 236.28px;
                height: 202px;
                background: url('../../img/games/control/btn1.png') no-repeat center center/contain;

                &.isAct {
                    background: url('../../img/games/control/btn1_act.png') no-repeat center center/contain;

                    span {
                        left: -0.8rem;
                        bottom: 4rem;
                    }


                }

                .info-box {
                    left: 5rem;
                    bottom: 1.2rem;
                }
            }

            .btn2 {
                width: 390px;
                height: 77px;
                bottom: 0;
                left: 161px;
                background: url('../../img/games/control/btn2.png') no-repeat center center/contain;

                &.isAct {
                    background: url('../../img/games/control/btn2_act.png') no-repeat center center/contain;

                    span {
                        left: -0.9rem;
                        bottom: 4rem;
                    }


                }

                .info-box {
                    left: 50%;
                    bottom: 1.2rem;
                    transform: translate(-50%, 0);
                    z-index: 99;
                }
            }

            .btn3 {
                right: 0;
                bottom: 0;
                width: 236.28px;
                height: 202px;
                background: url('../../img/games/control/btn3.png') no-repeat center center/contain;

                &.isAct {
                    background: url('../../img/games/control/btn3_act.png') no-repeat center center/contain;

                    span {
                        left: -0.9rem;
                        bottom: 4rem;
                    }
                }

                .info-box {
                    right: 5rem;
                    bottom: 1.2rem;
                }
            }

            .btn4 {
                height: 121px;
                width: 283px;
                top: 0;
                right: 72px;
                background: url('../../img/games/control/btn4.png') no-repeat center center/contain;

                &.isAct {
                    background: url('../../img/games/control/btn4_act.png') no-repeat center center/contain;

                    span {
                        left: -0.8rem;
                        bottom: 4rem;
                    }

                }

                .info-box {
                    right: 2rem;
                    top: 0.7rem;
                }

                .bg-box {
                    right: 70%;
                    bottom: 5%;
                }


            }

            .btn5 {
                height: 121px;
                width: 283px;
                top: 0;
                left: 70px;
                background: url('../../img/games/control/btn5.png') no-repeat center center/contain;

                &.isAct {
                    background: url('../../img/games/control/btn5_act.png') no-repeat center center/contain;

                    span {
                        left: -0.8rem;
                        bottom: 4rem;
                    }
                }

                .info-box {
                    left: 2rem;
                    top: 0.7rem;
                }

                .bg-box {
                    left: 70%;
                    bottom: 5%;
                }
            }

            // div:nth-child(1) {
            //     width: 283px;
            //     // background: linear-gradient(to bottom, rgba(72, 50, 133, 0.9), rgba(0, 51, 128, 0.9));
            //     background: linear-gradient(to bottom, rgba(15, 82, 183, 0.9) 0%, #003380 100%);
            //     border: 1px solid rgba(62, 139, 255, 0.8);
            // }

            // div:nth-child(2) {
            //     width: 283px;
            //     background: linear-gradient(to bottom, rgba(15, 183, 102, 0.9) 0%, rgba(6, 79, 44, 1) 100%);
            //     border: 1px solid rgba(0, 213, 110, 0.8);
            //     border-radius: 7px;
            //     margin-left: 5px;
            //     margin-right: 5px;
            // }

            // div:nth-child(3) {
            //     width: 232px;
            //     height: 202px;
            //     background: linear-gradient(to bottom, rgba(183, 15, 15, 0.9) 0%, rgba(14, 0, 0, 1) 100%);
            //     border: 1px solid rgba(247, 45, 45, 0.8);
            // }

            // div:nth-child(4) {
            //     width: 393px;
            //     height: 77px;
            //     background: linear-gradient(to bottom, rgba(15, 82, 183, 0.9) 0%, #003380 100%);
            //     border: 1px solid rgba(62, 139, 255, 0.8);
            //     margin-top: 5px;
            //     margin-right: 5px;

            //     p {
            //         margin-top: 50px;
            //     }
            // }

            // div:nth-child(5) {
            //     width: 232px;
            //     height: 202px;
            //     background: linear-gradient(to bottom, rgba(183, 15, 15, 0.9) 0%, rgba(14, 0, 0, 1) 100%);
            //     border: 1px solid rgba(247, 45, 45, 0.8);
            //     margin-top: 5px;

            //     p {
            //         margin-top: 50px;
            //     }
            // }

        }


    }
}

@keyframes anigamebettingareain {
    0% {
        bottom: -150px;
    }

    100% {
        bottom: 90px;
    }
}

@media screen and (max-width:1100px) {
    .game-betting-area {
        .game-betting-area-box {
            .middle-box {}
        }
    }
}


@media screen and (max-width:933px) {
    .game-betting-area {
        position: relative;
        bottom: auto;
        top: auto;

        .game-box-straight {
            display: block;
        }

        @keyframes anigamebettingareain {
            0% {
                bottom: auto;
            }

            100% {
                bottom: auto;
            }
        }

    }
}

@media screen and (max-width:934px) and (min-width: 416px) {

    .game-betting-area {
        .game-box-straight {
            position: absolute;
            left: 1rem;
            top: 8%;
            transform: translateY(10%);

            span.cancel,
            span.double {
                display: block;
                font-size: 1.2rem;
                padding-left: 11px;
                color: #8D8D9F;
            }

            span.cancel {
                padding-bottom: 9px;

                &::after {
                    content: '';
                    display: block;
                    top: 1.9rem;
                    right: 0.2rem;
                    width: 28px;
                    height: 28px;
                    background: url('../../img/games/cancel.png') no-repeat center center/contain;
                }
            }

            span.double {
                right: 0.7rem;
                top: -6.3rem;

                &::before {
                    content: '';
                    display: block;
                    top: -2.4rem;
                    left: 0rem;
                    width: 28px;
                    height: 28px;
                    background: url('../../img/games/double.png') no-repeat center center/contain;
                }
            }


            .game-chips-box {
                div.show {
                    bottom: 12.2rem;
                    left: 1rem;

                    .default-click {
                        width: 45px;
                        height: 45px;
                        border-radius: 45px;

                        &::before {
                            width: 45px;
                            height: 45px;
                            border-radius: 45px;
                            bottom: -2px;
                            left: -10px;
                        }

                        &:after {
                            width: 45px;
                            height: 45px;
                            border-radius: 45px;
                            bottom: 45px;
                            left: -13px;
                        }
                    }

                    span {

                        width: 45px;
                        height: 45px;
                        border-radius: 45px;

                        &.chips-0 {
                            animation-name: animbheasechips0;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 0rem;
                            bottom: 1rem;
                        }

                        @keyframes animbheasechips0 {
                            0% {
                                left: 0rem;
                                bottom: 10rem;
                                opacity: 0;
                                transform: rotate(0deg);
                            }

                            100% {
                                left: 0rem;
                                bottom: 1rem;
                                opacity: 1;
                                transform: rotate(180deg);
                            }
                        }

                        &.chips-1 {
                            animation-name: animbheasechips1;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 0rem;
                            bottom: 1rem;

                        }

                        @keyframes animbheasechips1 {
                            0% {
                                left: 3.8rem;
                                bottom: 9.5rem;
                                opacity: 0;
                                transform: rotate(0deg);
                            }

                            100% {
                                left: 0rem;
                                bottom: 1rem;
                                opacity: 1;
                                transform: rotate(180deg);
                            }
                        }


                        &.chips-2 {
                            animation-name: animbheasechips2;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 0rem;
                            bottom: 1rem;

                        }

                        @keyframes animbheasechips2 {
                            0% {
                                left: 7.3rem;
                                bottom: 7.5rem;
                                opacity: 0;
                                transform: rotate(0deg);
                            }

                            100% {
                                left: 0rem;
                                bottom: 1rem;
                                opacity: 1;
                                transform: rotate(180deg);
                            }
                        }

                        &.chips-3 {
                            animation-name: animbheasechips3;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 0rem;
                            bottom: 1rem;

                        }

                        @keyframes animbheasechips3 {
                            0% {
                                left: 8.9rem;
                                bottom: 4.2rem;
                                opacity: 0;
                                transform: rotate(0deg);
                            }

                            100% {
                                left: 0rem;
                                bottom: 1rem;
                                opacity: 1;
                                transform: rotate(180deg);
                            }
                        }

                        &.chips-4 {
                            animation-name: animbheasechips4;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 0rem;
                            bottom: 1rem;

                        }

                        @keyframes animbheasechips4 {
                            0% {
                                left: 8.9rem;
                                bottom: -3.8rem;
                                opacity: 0;
                                transform: rotate(0deg);
                            }

                            100% {
                                left: 0rem;
                                bottom: 1rem;
                                opacity: 1;
                                transform: rotate(180deg);
                            }
                        }

                        &.chips-5 {
                            animation-name: animbheasechips5;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 0rem;
                            bottom: 1rem;

                        }

                        @keyframes animbheasechips5 {
                            0% {
                                left: 7.3rem;
                                bottom: -7.5rem;
                                opacity: 0;
                                transform: rotate(0deg);
                            }

                            100% {
                                left: 0rem;
                                bottom: 1rem;
                                opacity: 1;
                                transform: rotate(180deg);
                            }
                        }

                        &.chips-6 {
                            animation-name: animbheasechips6;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 0rem;
                            bottom: 1rem;

                        }

                        @keyframes animbheasechips6 {
                            0% {
                                left: 3.8rem;
                                bottom: -9.5rem;
                                opacity: 0;
                                transform: rotate(0deg);
                            }

                            100% {
                                left: 0rem;
                                bottom: 1rem;
                                opacity: 1;
                                transform: rotate(180deg);
                            }
                        }

                        &.chips-7 {
                            animation-name: animbheasechips7;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 0rem;
                            bottom: 1rem;
                        }

                        @keyframes animbheasechips7 {
                            0% {
                                left: 0rem;
                                bottom: -10rem;
                                opacity: 0;
                                transform: rotate(0deg);
                            }

                            100% {
                                left: 0rem;
                                bottom: 1rem;
                                opacity: 1;
                                transform: rotate(180deg);
                            }
                        }

                    }

                }

                div.none {


                    .default-click {
                        width: 45px;
                        height: 45px;
                        border-radius: 45px;

                        &::before {
                            width: 45px;
                            height: 45px;
                            border-radius: 45px;
                            bottom: -2px;
                            left: -10px;
                        }

                        &:after {
                            width: 45px;
                            height: 45px;
                            border-radius: 45px;
                            bottom: 45px;
                            left: -13px;
                        }

                        &::before {
                            width: 52px;
                            height: 52px;
                            border-radius: 52px;
                            left: 1px;
                            top: 1px;
                            ;
                        }
                    }

                    span {
                        width: 45px;
                        height: 45px;

                        &.chips-0 {
                            animation-name: animbhchips0;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 0rem;
                            bottom: 9rem;
                        }

                        @keyframes animbhchips0 {
                            0% {
                                left: 0rem;
                                bottom: 0rem;
                                opacity: 0;
                                transform: rotate(-180deg);
                            }

                            100% {
                                left: 0rem;
                                bottom: 9rem;
                                opacity: 1;
                                transform: rotate(0deg);
                            }
                        }

                        &.chips-1 {
                            animation-name: animbhchips1;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 3.8rem;
                            bottom: 8.5rem;

                        }

                        @keyframes animbhchips1 {
                            0% {
                                left: 0rem;
                                bottom: 0rem;
                                opacity: 0;
                                transform: rotate(-180deg);
                            }

                            100% {
                                left: 3.8rem;
                                bottom: 8.5rem;
                                opacity: 1;
                                transform: rotate(0deg);
                            }
                        }


                        &.chips-2 {
                            animation-name: animbhchips2;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 7.3rem;
                            bottom: 6.5rem;

                        }

                        @keyframes animbhchips2 {
                            0% {
                                left: 0rem;
                                bottom: 0rem;
                                opacity: 0;
                                transform: rotate(-180deg);
                            }

                            100% {
                                left: 7.3rem;
                                bottom: 6.5rem;
                                opacity: 1;
                                transform: rotate(0deg);
                            }
                        }

                        &.chips-3 {
                            animation-name: animbhchips3;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 8.9rem;
                            bottom: 3.2rem;

                        }

                        @keyframes animbhchips3 {
                            0% {
                                left: 0rem;
                                bottom: 0rem;
                                opacity: 0;
                                transform: rotate(-180deg);
                            }

                            100% {
                                left: 8.9rem;
                                bottom: 3.2rem;
                                opacity: 1;
                                transform: rotate(0deg);
                            }
                        }

                        &.chips-4 {
                            animation-name: animbhchips4;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 8.9rem;
                            bottom: -0.8rem;

                        }

                        @keyframes animbhchips4 {
                            0% {
                                left: 0rem;
                                bottom: 0rem;
                                opacity: 0;
                                transform: rotate(-180deg);
                            }

                            100% {
                                left: 8.9rem;
                                bottom: -0.8rem;
                                opacity: 1;
                                transform: rotate(0deg);
                            }
                        }

                        &.chips-5 {
                            animation-name: animbhchips5;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 7.3rem;
                            bottom: -4.5rem;

                        }

                        @keyframes animbhchips5 {
                            0% {
                                left: 0rem;
                                bottom: 0rem;
                                opacity: 0;
                                transform: rotate(-180deg);
                            }

                            100% {
                                left: 7.3rem;
                                bottom: -4.5rem;
                                opacity: 1;
                                transform: rotate(0deg);
                            }
                        }

                        &.chips-6 {
                            animation-name: animbhchips6;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 3.8rem;
                            bottom: -6.5rem;

                        }

                        @keyframes animbhchips6 {
                            0% {
                                left: 0rem;
                                bottom: 0rem;
                                opacity: 0;
                                transform: rotate(-180deg);
                            }

                            100% {
                                left: 3.8rem;
                                bottom: -6.5rem;
                                opacity: 1;
                                transform: rotate(0deg);
                            }
                        }

                        &.chips-7 {
                            animation-name: animbhchips7;
                            animation-duration: 1s;
                            animation-timing-function: ease;
                            left: 0rem;
                            bottom: -7rem;
                        }

                        @keyframes animbhchips7 {
                            0% {
                                left: 0rem;
                                bottom: 0rem;
                                opacity: 0;
                                transform: rotate(-180deg);
                            }

                            100% {
                                left: 0rem;
                                bottom: -7rem;
                                opacity: 1;
                                transform: rotate(0deg);
                            }
                        }


                    }

                }
            }

        }
    }

}

@media screen and (max-width:415px) {

    .game-betting-area {

        .game-box-straight {
            position: absolute;
            left: 45%;
            transform: translateX(-24%);
            bottom: -22vh;

            span.cancel,
            span.double {
                display: block;
                position: absolute;
                color: #8D8D9F;
                font-size: 1rem;
                top: auto;
                bottom: 0;

            }

            span.cancel {
                left: -5.2rem;

                &::after {
                    content: '';
                    display: block;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: -0.5rem;
                    background: url('../../img/games/cancel.png') no-repeat center center/contain;
                    right: -2.5rem;
                }
            }

            span.double {
                right: -4.9rem;

                &::before {
                    content: '';
                    display: block;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: -0.5rem;
                    background: url('../../img/games/double.png') no-repeat center center/contain;
                    left: -2.3rem;
                }
            }
        }
    }
}



@media screen and (max-width:897px) {
    .game-betting-area {

        .game-betting-area-box {
            .middle-box {

                width: 612px;
                height: 173px;

                &.disable {
                    transform: none;
                    margin-top: 4rem;
                }

                .info-box {
                    p {
                        font-size: 1.2rem;
                    }
                }


                .bg-box {
                    p {
                        font-size: 3rem;
                    }
                }

                .btn1 {
                    left: 0;
                    bottom: 0;
                    width: 203px;
                    height: 172px;

                    .info-box {
                        left: 2.5rem;
                    }
                }

                .btn2 {
                    width: 333px;
                    height: 66px;
                    bottom: 0;
                    left: 139px;

                }

                .btn3 {
                    right: 0;
                    bottom: 0;
                    width: 203px;
                    height: 172px;

                    .info-box {
                        right: 2.5rem;
                    }
                }

                .btn4 {
                    height: 107px;
                    width: 241px;
                    top: -1px;
                    right: 63px;

                }

                .btn5 {
                    height: 107px;
                    width: 241px;
                    top: -1px;
                    left: 62px;

                }

            }
        }

        &::before {
            display: none;
        }
    }
}

@media screen and (max-width:769px) {
    .game-betting-area {

        .game-betting-area-box {
            .middle-box {

                width: 502px;
                height: 142px;

                &.disable {
                    transform: none;
                    margin-top: 4rem;
                }

                .info-box {
                    p {
                        font-size: 1.2rem;
                    }
                }


                .bg-box {
                    p {
                        font-size: 3rem;
                    }
                }

                .btn1 {
                    left: 0;
                    bottom: 0;
                    width: 170px;
                    height: 142px;

                    .info-box {
                        left: 2.5rem;
                    }
                }

                .btn2 {
                    width: 273px;
                    height: 55px;
                    bottom: 0;
                    left: 114px;

                }

                .btn3 {
                    right: 0;
                    bottom: 0;
                    width: 170px;
                    height: 142px;

                    .info-box {
                        right: 2.5rem;
                    }
                }

                .btn4 {
                    height: 84px;
                    width: 198px;
                    top: 0;
                    right: 52px;

                }

                .btn5 {
                    height: 84px;
                    width: 198px;
                    top: 0;
                    left: 52px;

                }

            }
        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 110%;
            height: 20px;
            box-shadow: 0 -13px 19px rgba(0, 0, 0, 0.7);
            left: -5px;
            top: 0px;
        }
    }
}

@media screen and (max-width: 768px) {
    .game-betting-area {
        .game-betting-area-box {
            .middle-box {
                .btn-box {
                    &.isAct {
                        span {
                            font-size: 0.6rem;

                            &::before {
                                bottom: 2px;
                            }
                        }
                    }
                }
            }
        }

        &::before {
            display: none;
        }
    }
}

@media screen and (max-width: 642px) {
    .game-betting-area {

        .game-betting-area-box {


            .middle-box {
                .btn-box {
                    &.isAct {
                        span {
                            font-size: 0.6rem;

                            &::before {
                                bottom: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:502px) {
    .game-betting-area {
        height: 22vh;

        .game-betting-area-box {
            margin-top: 0rem;

            .middle-box {

                width: 425px;
                height: 120px;

                &.disable {
                    transform: none;
                    margin-top: 3rem;
                }

                .bg-box {
                    p {
                        font-size: 2.6rem;
                    }
                }

                .btn1 {
                    left: 0;
                    bottom: 0;
                    width: 140px;
                    height: 120px;
                }

                .btn2 {
                    width: 239px;
                    height: 46px;
                    bottom: 0;
                    left: 93px;

                }

                .btn3 {
                    right: 0;
                    bottom: 0;
                    width: 140px;
                    height: 120px;
                }

                .btn4 {
                    height: 72px;
                    width: 169px;
                    top: 0;
                    right: 42px;

                }

                .btn5 {
                    height: 72px;
                    width: 169px;
                    top: 0;
                    left: 41px;

                }

            }
        }
    }
}

@media screen and (max-width: 435px) {
    .game-betting-area {

        .game-betting-area-box {
            margin-top: 0rem;

            .left-box,
            .right-box {
                display: none;
            }

            .middle-box {
                width: 410px;
                height: 195px;
                margin-top: 0;
                // border: 1px solid #fff;

                &.disable {
                    transform: none;
                    margin-top: 3rem;
                }


                .btn1 {
                    left: 5px;
                    bottom: 0;
                    width: 129px;
                    height: 196px;
                    background: url('../../img/games/control/mb_btn1.png') no-repeat center center/contain;

                    &.isAct {
                        background: url('../../img/games/control/mb_btn1_act.png') no-repeat center center/contain;
                    }
                }

                .btn2 {
                    width: 223px;
                    height: 76px;
                    bottom: 0;
                    left: 93px;
                    background: url('../../img/games/control/mb_btn2.png') no-repeat center center/contain;

                    &.isAct {
                        background: url('../../img/games/control/mb_btn2_act.png') no-repeat center center/contain;
                    }
                }

                .btn3 {
                    right: 7px;
                    bottom: 0;
                    width: 129px;
                    height: 196px;
                    background: url('../../img/games/control/mb_btn3.png') no-repeat center center/contain;

                    &.isAct {
                        background: url('../../img/games/control/mb_btn3_act.png') no-repeat center center/contain;
                    }
                }

                .btn4 {
                    height: 118px;
                    width: 161px;
                    top: 0px;
                    right: 45px;
                    background: url('../../img/games/control/mb_btn4.png') no-repeat center center/contain;

                    &.isAct {
                        background: url('../../img/games/control/mb_btn4_act.png') no-repeat center center/contain;
                    }
                }

                .btn5 {
                    height: 118px;
                    width: 161px;
                    top: 0px;
                    left: 42px;
                    background: url('../../img/games/control/mb_btn5.png') no-repeat center center/contain;

                    &.isAct {
                        background: url('../../img/games/control/mb_btn5_act.png') no-repeat center center/contain;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 415px) {
    .game-betting-area {
        .game-betting-area-box {
            margin-top: 0rem;

            .middle-box {
                width: 375px;
                height: 185px;
                margin-top: 0;
                // border: 1px solid #fff;

                &.disable {
                    transform: none;
                    margin-top: 3rem;
                }


                .btn1 {
                    left: 5px;
                    bottom: 0;
                    width: 120px;
                    height: 175px;

                }

                .btn2 {
                    width: 226px;
                    height: 67px;
                    bottom: 0;
                    left: 75px;

                }

                .btn3 {
                    right: 5px;
                    bottom: 0;
                    width: 120px;
                    height: 175px;

                }

                .btn4 {
                    height: 104px;
                    width: 140px;
                    top: 10px;
                    right: 44px;

                }

                .btn5 {
                    height: 104px;
                    width: 139px;
                    top: 10px;
                    left: 44px;

                }

            }
        }

        &::before {
            display: block;
        }
    }
}

@media screen and (max-width: 378px) {
    .game-betting-area {
        height: 28vh;

        @keyframes anigamebettingareain {
            0% {
                bottom: auto;
            }

            100% {
                bottom: auto;
            }
        }

        .game-betting-area-box {
            margin-top: 0rem;


            .middle-box {
                width: 350px;
                height: 170px;
                margin-top: 0;
                // border: 1px solid #fff;

                &.disable {
                    transform: none;
                    margin-top: 3rem;
                }

                .btn1 {
                    left: 5px;
                    bottom: 0;
                    width: 111px;
                    height: 166px;

                }

                .btn2 {
                    width: 191px;
                    height: 64px;
                    bottom: 0;
                    left: 79px;
                }

                .btn3 {
                    right: 6px;
                    bottom: 0;
                    width: 111px;
                    height: 166px;
                }

                .btn4 {
                    height: 99px;
                    width: 133px;
                    top: 4px;
                    right: 39px;
                }

                .btn5 {
                    height: 99px;
                    width: 133px;
                    top: 4px;
                    left: 39px;

                }

            }
        }
    }
}

@media screen and (max-width: 340px) {
    .game-betting-area {
        .game-betting-area-box {
            margin-top: 0rem;


            .middle-box {
                width: 304px;
                height: 152px;
                margin-top: 0;

                &.disable {
                    transform: none;
                    margin-top: 3rem;
                }

                .btn1 {
                    left: 0;
                    bottom: 0;
                    width: 100px;
                    height: 152px;
                }

                .btn2 {
                    width: 168px;
                    height: 59px;
                    bottom: 0;
                    left: 68px;
                }

                .btn3 {
                    right: 0;
                    bottom: 0;
                    width: 100px;
                    height: 152px;
                }

                .btn4 {
                    height: 90px;
                    width: 121px;
                    top: 0;
                    right: 31px;
                }

                .btn5 {
                    height: 90px;
                    width: 121px;
                    top: 0;
                    left: 31px;
                }

            }
        }
    }
}