.game-chips-box {


    span {
        width: 55px;
        height: 55px;
        border-radius: 55px;
        margin: 0 5px;
        position: relative;
        display: inline-block;

        &.chips-0 {
            background: url('../../../img/games/chips/chips-0.png') no-repeat center center / cover;
        }

        &.chips-1 {
            background: url('../../../img/games/chips/chips-1.png') no-repeat center center / cover;
        }

        &.chips-2 {
            background: url('../../../img/games/chips/chips-2.png') no-repeat center center / cover;
        }

        &.chips-3 {
            background: url('../../../img/games/chips/chips-3.png') no-repeat center center / cover;
        }

        &.chips-4 {
            background: url('../../../img/games/chips/chips-4.png') no-repeat center center / cover;
        }

        &.chips-5 {
            background: url('../../../img/games/chips/chips-5.png') no-repeat center center / cover;
        }

        &.chips-6 {
            background: url('../../../img/games/chips/chips-6.png') no-repeat center center / cover;
        }

        &.chips-7 {
            background: url('../../../img/games/chips/chips-7.png') no-repeat center center / cover;
        }

        &.act {

            &::before {
                content: '';
                background: url('../../../img/games/chips/border.png') no-repeat center center / cover;
                display: block;
                width: 66px;
                height: 66px;
                border-radius: 66px;
                position: absolute;
                left: 0;
                top: 0;
                transform: translate(-9%, -9%);
            }
        }


    }

}