.game-chips-box {

    position: relative;

    span {
        width: 55px;
        height: 55px;
        border-radius: 55px;
        margin: 0 5px;
        position: relative;
        display: inline-block;

        &.chips-0 {
            background: url('../../../img/games/chips/chips-25.png') no-repeat center center / cover;
        }

        &.chips-1 {
            background: url('../../../img/games/chips/chips-50.png') no-repeat center center / cover;
        }

        &.chips-2 {
            background: url('../../../img/games/chips/chips-100.png') no-repeat center center / cover;
        }

        &.chips-3 {
            background: url('../../../img/games/chips/chips-500.png') no-repeat center center / cover;
        }

        &.chips-4 {
            background: url('../../../img/games/chips/chips-1000.png') no-repeat center center / cover;
        }

        &.chips-5 {
            background: url('../../../img/games/chips/chips-1250.png') no-repeat center center / cover;
        }

        &.chips-6 {
            background: url('../../../img/games/chips/chips-5000.png') no-repeat center center / cover;
        }

        &.chips-7 {
            background: url('../../../img/games/chips/chips-10000.png') no-repeat center center / cover;
        }

        &.act {

            &::before {
                content: '';
                background: url('../../../img/games/chips/border.png') no-repeat center center / cover;
                display: block;
                width: 66px;
                height: 66px;
                border-radius: 66px;
                position: absolute;
                left: 0;
                top: 0;
                transform: translate(-9%, -9%);
            }
        }


    }


}

@media screen and (max-width:1082px) and (min-width: 323px) {
    .game-chips-box {
        position: relative;
        width: 68px;
        height: 58px;

        // margin-bottom: 9rem;
        div {

            position: fixed;
        }

        div.none {
            bottom: 6rem;

            .default-click {

                width: 55px;
                height: 55px;
                border-radius: 55px;
                margin: 0 5px;
                position: relative;
                display: block;

                &.chips-0 {
                    background: url('../../../img/games/chips/chips-25.png') no-repeat center center / cover;
                }

                &.chips-1 {
                    background: url('../../../img/games/chips/chips-50.png') no-repeat center center / cover;
                }

                &.chips-2 {
                    background: url('../../../img/games/chips/chips-100.png') no-repeat center center / cover;
                }

                &.chips-3 {
                    background: url('../../../img/games/chips/chips-500.png') no-repeat center center / cover;
                }

                &.chips-4 {
                    background: url('../../../img/games/chips/chips-1000.png') no-repeat center center / cover;
                }

                &.chips-5 {
                    background: url('../../../img/games/chips/chips-1250.png') no-repeat center center / cover;
                }

                &.chips-6 {
                    background: url('../../../img/games/chips/chips-5000.png') no-repeat center center / cover;
                }

                &.chips-7 {
                    background: url('../../../img/games/chips/chips-10000.png') no-repeat center center / cover;
                }

                &::before {
                    content: '';
                    background: url('../../../img/games/chips/border.png') no-repeat center center / cover;
                    display: block;
                    width: 66px;
                    height: 66px;
                    border-radius: 66px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translate(-9%, -9%);

                }
            }

            span {
                position: absolute;
                z-index: 9;
                width: 45px;
                height: 45px;
                transition: all 1s ease;


                &.chips-0 {
                    animation-name: animbchips0;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: -9.5rem;
                    bottom: 0rem;
                }

                @keyframes animbchips0 {
                    0% {
                        left: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        left: -9.5rem;
                        bottom: 0rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &.chips-1 {
                    animation-name: animbchips1;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: -8.2rem;
                    bottom: 3.3rem;
                }

                @keyframes animbchips1 {
                    0% {
                        left: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        left: -8.2rem;
                        bottom: 3.3rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &.chips-2 {
                    animation-name: animbchips2;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: -5.2rem;
                    bottom: 5.9rem;
                }

                @keyframes animbchips2 {
                    0% {
                        left: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        left: -5.2rem;
                        bottom: 5.9rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &.chips-3 {
                    animation-name: animbchips3;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: -1.55rem;
                    bottom: 6.8rem;
                }

                @keyframes animbchips3 {
                    0% {
                        left: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        left: -1.55rem;
                        bottom: 6.8rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &.chips-4 {
                    animation-name: animbchips4;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: -1.55rem;
                    bottom: 6.8rem;
                }

                @keyframes animbchips4 {
                    0% {
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        right: -1.55rem;
                        bottom: 6.8rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &.chips-5 {
                    animation-name: animbchips5;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: -5.2rem;
                    bottom: 5.9rem;
                }

                @keyframes animbchips5 {
                    0% {
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        right: -5.2rem;
                        bottom: 5.9rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &.chips-6 {
                    animation-name: animbchips6;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: -8.2rem;
                    bottom: 3.3rem;
                }

                @keyframes animbchips6 {
                    0% {
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        right: -8.2rem;
                        bottom: 3.3rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &.chips-7 {
                    animation-name: animbchips7;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: -9.5rem;
                    bottom: 0rem;
                }

                @keyframes animbchips7 {
                    0% {
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        right: -9.5rem;
                        bottom: 0rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }


                &.act {

                    &::before {
                        display: none;
                    }
                }
            }

        }

        div.show {
            bottom: 1.5rem;

            span {
                // display: none;

                // &.act {
                //     display: block;
                //     bottom: 8.8rem;
                //     left: 0.2rem;
                // }
                position: absolute;
                width: 45px;
                height: 45px;

                &.chips-0 {
                    animation-name: animbeasechips0;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: 0.5rem;
                    bottom: 5.5rem;
                    z-index: -1;
                    transform: rotate(180deg);
                }

                @keyframes animbeasechips0 {
                    0% {
                        left: -9.5rem;
                        bottom: 5.5rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        left: 0.5rem;
                        bottom: 5.5rem;
                        opacity: 1;
                        transform: rotate(180deg);
                    }
                }

                &.chips-1 {
                    animation-name: animbeasechips1;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: 0.5rem;
                    bottom: 5.5rem;
                    z-index: -1;
                    transform: rotate(180deg);
                }

                @keyframes animbeasechips1 {
                    0% {
                        left: -8.2rem;
                        bottom: 8.3rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        left: 0.5rem;
                        bottom: 5.5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.chips-2 {
                    animation-name: animbeasechips2;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: 0.5rem;
                    bottom: 5.5rem;
                    z-index: -1;
                    transform: rotate(180deg);
                }

                @keyframes animbeasechips2 {
                    0% {
                        left: -5.2rem;
                        bottom: 10.9rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        left: 0.5rem;
                        bottom: 5.5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.chips-3 {
                    animation-name: animbeasechips3;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: 0.5rem;
                    bottom: 5.5rem;
                    z-index: -1;
                    transform: rotate(180deg);
                }

                @keyframes animbeasechips3 {
                    0% {
                        left: -1.55rem;
                        bottom: 11.8rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        left: 0rem;
                        bottom: 5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.chips-4 {
                    animation-name: animbeasechips4;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: 0.5rem;
                    bottom: 5.5rem;
                    z-index: -1;
                    transform: rotate(180deg);
                }

                @keyframes animbeasechips4 {
                    0% {
                        right: -1.55rem;
                        bottom: 11.8rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        right: 0.5rem;
                        bottom: 5.5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.chips-5 {
                    animation-name: animbeasechips5;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: 0.5rem;
                    bottom: 5.5rem;
                    z-index: -1;
                    transform: rotate(180deg);
                }

                @keyframes animbeasechips5 {
                    0% {
                        right: -5.2rem;
                        bottom: 10.9rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        right: 0.5rem;
                        bottom: 5.5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.chips-6 {
                    animation-name: animbeasechips6;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: 0.5rem;
                    bottom: 5.5rem;
                    z-index: -1;
                    transform: rotate(180deg);
                }

                @keyframes animbeasechips6 {
                    0% {
                        right: -8.2rem;
                        bottom: 8.3rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        right: 0.5rem;
                        bottom: 5.5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.chips-7 {
                    animation-name: animbeasechips7;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: 0.5rem;
                    bottom: 5.5rem;
                    z-index: -1;
                    transform: rotate(180deg);
                }

                @keyframes animbeasechips7 {
                    0% {
                        right: -9.5rem;
                        bottom: 5.5rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        right: 0.5rem;
                        bottom: 5.5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.act {

                    &::before {
                        display: none;
                    }
                }

            }

            .default-click {
                width: 60px;
                height: 60px;
                border-radius: 60px;
                margin: 0 5px;
                position: relative;
                display: inline-block;
                background: url('../../../img/games/chips/chips-25.png') no-repeat center center / contain;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: -1;
                    bottom: -8px;
                    left: -5px;
                    width: 60px;
                    height: 60px;
                    border-radius: 60px;
                    margin: 0 5px;
                    position: relative;
                    display: inline-block;
                    background: url('../../../img/games/chips/chips-50.png') no-repeat center center / contain;

                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: -2;
                    bottom: 48px;
                    left: -5px;
                    width: 60px;
                    height: 60px;
                    border-radius: 60px;
                    margin: 0 5px;
                    position: relative;
                    display: inline-block;
                    background: url('../../../img/games/chips/chips-100.png') no-repeat center center / contain;

                }

                &.chips-0 {
                    background: url('../../../img/games/chips/chips-25.png') no-repeat center center / cover;
                }

                &.chips-1 {
                    background: url('../../../img/games/chips/chips-50.png') no-repeat center center / cover;
                }

                &.chips-2 {
                    background: url('../../../img/games/chips/chips-100.png') no-repeat center center / cover;
                }

                &.chips-3 {
                    background: url('../../../img/games/chips/chips-500.png') no-repeat center center / cover;
                }

                &.chips-4 {
                    background: url('../../../img/games/chips/chips-1000.png') no-repeat center center / cover;
                }

                &.chips-5 {
                    background: url('../../../img/games/chips/chips-1250.png') no-repeat center center / cover;
                }

                &.chips-6 {
                    background: url('../../../img/games/chips/chips-5000.png') no-repeat center center / cover;
                }

                &.chips-7 {
                    background: url('../../../img/games/chips/chips-10000.png') no-repeat center center / cover;
                }

            }
        }
    }
}

@media screen and (max-width: 322px) {
    .game-chips-box {
        position: relative;
        width: 68px;
        height: 58px;

        // margin-bottom: 9rem;
        div {

            position: fixed;
        }

        div.none {
            bottom: 6rem;

            .default-click {

                width: 50px;
                height: 50px;
                border-radius: 50px;
                margin: 0 5px 0 8px;
                position: relative;
                display: block;

                &.chips-0 {
                    background: url('../../../img/games/chips/chips-25.png') no-repeat center center / cover;
                }

                &.chips-1 {
                    background: url('../../../img/games/chips/chips-50.png') no-repeat center center / cover;
                }

                &.chips-2 {
                    background: url('../../../img/games/chips/chips-100.png') no-repeat center center / cover;
                }

                &.chips-3 {
                    background: url('../../../img/games/chips/chips-500.png') no-repeat center center / cover;
                }

                &.chips-4 {
                    background: url('../../../img/games/chips/chips-1000.png') no-repeat center center / cover;
                }

                &.chips-5 {
                    background: url('../../../img/games/chips/chips-1250.png') no-repeat center center / cover;
                }

                &.chips-6 {
                    background: url('../../../img/games/chips/chips-5000.png') no-repeat center center / cover;
                }

                &.chips-7 {
                    background: url('../../../img/games/chips/chips-10000.png') no-repeat center center / cover;
                }

                &::before {
                    content: '';
                    background: url('../../../img/games/chips/border.png') no-repeat center center / cover;
                    display: block;
                    width: 61px;
                    height: 61px;
                    border-radius: 61px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translate(-9%, -9%);

                }
            }

            span {
                position: absolute;
                z-index: 9;
                width: 40px;
                height: 40px;
                transition: all 1s ease;


                &.chips-0 {
                    animation-name: animbchips0;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: -8.5rem;
                    bottom: 0rem;
                }

                @keyframes animbchips0 {
                    0% {
                        left: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        left: -8.5rem;
                        bottom: 0rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &.chips-1 {
                    animation-name: animbchips1;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: -7.2rem;
                    bottom: 3.3rem;
                }

                @keyframes animbchips1 {
                    0% {
                        left: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        left: -7.2rem;
                        bottom: 3.3rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &.chips-2 {
                    animation-name: animbchips2;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: -4.8rem;
                    bottom: 5.9rem;
                }

                @keyframes animbchips2 {
                    0% {
                        left: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        left: -4.8rem;
                        bottom: 5.9rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &.chips-3 {
                    animation-name: animbchips3;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: -1.3rem;
                    bottom: 6.8rem;
                }

                @keyframes animbchips3 {
                    0% {
                        left: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        left: -1.3rem;
                        bottom: 6.8rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &.chips-4 {
                    animation-name: animbchips4;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: -1.3rem;
                    bottom: 6.8rem;
                }

                @keyframes animbchips4 {
                    0% {
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        right: -1.3rem;
                        bottom: 6.8rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &.chips-5 {
                    animation-name: animbchips5;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: -4.8rem;
                    bottom: 5.9rem;
                }

                @keyframes animbchips5 {
                    0% {
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        right: -4.8rem;
                        bottom: 5.9rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &.chips-6 {
                    animation-name: animbchips6;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: -7.2rem;
                    bottom: 3.3rem;
                }

                @keyframes animbchips6 {
                    0% {
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        right: -7.2rem;
                        bottom: 3.3rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &.chips-7 {
                    animation-name: animbchips7;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: -8.5rem;
                    bottom: 0rem;
                }

                @keyframes animbchips7 {
                    0% {
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    100% {
                        right: -8.5rem;
                        bottom: 0rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }


                &.act {

                    &::before {
                        display: none;
                    }
                }
            }

        }

        div.show {
            bottom: 1.8rem;

            span {
                position: absolute;
                width: 40px;
                height: 40px;
                transition: all 1s ease;


                &.chips-0 {
                    animation-name: animbeasechips0;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: 0.5rem;
                    bottom: 4.5rem;
                    z-index: -1;
                    transform: rotate(180deg);
                }

                @keyframes animbeasechips0 {
                    0% {
                        left: -8.5rem;
                        bottom: 6rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        left: 0.5rem;
                        bottom: 4.5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.chips-1 {
                    animation-name: animbeasechips1;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: 0.5rem;
                    bottom: 4.5rem;
                    transform: rotate(180deg);
                    z-index: -1;
                }

                @keyframes animbeasechips1 {
                    0% {
                        left: -7.2rem;
                        bottom: 7.8rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        left: 0.5rem;
                        bottom: 4.5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.chips-2 {
                    animation-name: animbeasechips2;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: 0.5rem;
                    bottom: 4.5rem;
                    z-index: -1;
                    transform: rotate(180deg);
                }

                @keyframes animbeasechips2 {
                    0% {
                        left: -4.8rem;
                        bottom: 10.3rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        left: 0.5rem;
                        bottom: 4.5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.chips-3 {
                    animation-name: animbeasechips3;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    left: 0.5rem;
                    bottom: 4.5rem;
                    transform: rotate(180deg);
                    z-index: -1;
                }

                @keyframes animbeasechips3 {
                    0% {
                        left: -1.3rem;
                        bottom: 11.3rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        left: 0.5rem;
                        bottom: 4.5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.chips-4 {
                    animation-name: animbeasechips4;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: 0.5rem;
                    bottom: 4.5rem;
                    z-index: -1;
                    transform: rotate(180deg);
                }

                @keyframes animbeasechips4 {
                    0% {
                        right: -1.3rem;
                        bottom: 11.3rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        right: 0.5rem;
                        bottom: 4.5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.chips-5 {
                    animation-name: animbeasechips5;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: 0.5rem;
                    bottom: 4.5rem;
                    transform: rotate(180deg);
                    z-index: -1;
                }

                @keyframes animbeasechips5 {
                    0% {
                        right: -4.8rem;
                        bottom: 10.4rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        right: 0rem;
                        bottom: 4.5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.chips-6 {
                    animation-name: animbeasechips6;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: 0.5rem;
                    bottom: 4.5rem;
                    transform: rotate(180deg);
                    z-index: -1;
                }

                @keyframes animbeasechips6 {
                    0% {
                        right: -7.2rem;
                        bottom: 7.8rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        right: 0.5rem;
                        bottom: 4.5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.chips-7 {
                    animation-name: animbeasechips7;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    right: 0.5rem;
                    bottom: 4.5rem;
                    transform: rotate(180deg);
                    z-index: -1;
                }

                @keyframes animbeasechips7 {
                    0% {
                        right: -8.5rem;
                        bottom: 4.5rem;
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    100% {
                        right: 0.5rem;
                        bottom: 4.5rem;
                        opacity: 0;
                        transform: rotate(180deg);
                    }
                }

                &.act {

                    &::before {
                        display: none;
                    }
                }
            }

            .default-click {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                margin: 0 5px 0 8px;
                position: relative;
                display: inline-block;
                background: url('../../../img/games/chips/chips-25.png') no-repeat center center / contain;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: -1;
                    bottom: -5px;
                    left: -5px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    margin: 0 5px;
                    position: relative;
                    display: inline-block;
                    background: url('../../../img/games/chips/chips-50.png') no-repeat center center / contain;

                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: -2;
                    bottom: 44px;
                    left: -5px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    margin: 0 5px;
                    position: relative;
                    display: inline-block;
                    background: url('../../../img/games/chips/chips-100.png') no-repeat center center / contain;

                }
            }
        }
    }
}