.section_box {
    .demo-box {
        position: fixed;
        width: 400px;
        height: 450px;
        z-index: 99999;
        top: 10px;
        left: 10px;
        background: linear-gradient(to bottom, rgba(41, 41, 51, 0) 0%, rgba(41, 41, 50, 0.9) 43%, rgba(41, 41, 51, 1) 100%);

        .demo1 {
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
            position: relative;

            img {
                width: 100%;
                height: 150px;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -7px;
                width: 100%;
                height: 20px;
                background: linear-gradient(to top, rgba(41, 41, 51, 0) 0%, rgba(41, 41, 50, 0.9) -50%, rgb(41, 41, 51) 100%);
                filter: blur(6px);
            }
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 0;

        li {
            list-style-type: none;
            margin-bottom: 1rem;
            position: relative;
            width: 23%;
            margin: 0.8rem;


            .games {
                cursor: pointer;
                border-top-left-radius: 11px;
                border-top-right-radius: 11px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .game-title {
                font-size: 1.2rem;
                color: #fff;
                margin-top: 3px;
                margin-bottom: 0;
                font-weight: 500;
            }

            .game-wallet {
                font-size: 0.9rem;
                color: #F4CD44;
                margin-top: 3px;
                margin-bottom: 30px;

                span {
                    font-size: 0.8rem;
                }
            }

            &.li-box {
                position: relative;

                .has-favorites {
                    position: absolute;
                    left: -4px;
                    top: -10px;
                    display: block;
                    width: 22px;
                    height: 22px;
                    background: url('../../img/global/tag.png') no-repeat center center/contain;
                }

                .ishot {

                    position: absolute;
                    left: -4px;
                    top: -10px;
                    display: block;
                    width: 22px;
                    height: 22px;
                    background: url('../../img/global/hot.png') no-repeat center center/contain;

                    &+.has-favorites {
                        top: 10px;
                    }
                }


            }


            .hover-box {
                display: block;
                transition: all 0.3s ease-out;
                position: absolute;
                top: 0rem;
                left: 0;
                flex: 1;
                height: auto;
                width: 100%;
                // transform: scale(0);
                overflow: hidden;
                border-radius: 11px;
                background: linear-gradient(to bottom, rgba(41, 41, 51, 0) 0%, rgba(41, 41, 50, 1) 30%, rgba(41, 41, 51, 1) 100%);
                opacity: 0;

                &.visible {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
                    top: -7rem;
                    left: -4.4%;
                    z-index: 99;
                    width: 110%;
                    // transform: scale(1.1);
                    background: linear-gradient(to bottom, rgba(41, 41, 51, 0) 0%, rgba(41, 41, 50, 1) 30%, rgba(41, 41, 51, 1) 100%);
                    opacity: 1;

                    &.more-scale {
                        transform: scale(1.2);

                        .more {
                            display: none;
                        }
                    }

                }

                .games {
                    position: relative;
                    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -9px;
                        width: 100%;
                        height: 20px;
                        background: linear-gradient(to top, rgba(41, 41, 51, 0) 0%, rgba(41, 41, 50, 1) 6%, rgb(41, 41, 51) 100%);
                        filter: blur(6px);
                    }

                }

                .info-box {
                    position: relative;
                    width: 80%;
                    margin: -20px auto 10px;
                    padding-bottom: 20px;
                    // background: linear-gradient(to top, rgba(41, 41, 51, 0) 0%, rgba(41, 41, 51, 1) 100%);
                    // box-shadow: 0 0 4px rgba(41, 41, 51, 0.7);

                    .favorites-box {
                        position: absolute;
                        right: 0.1rem;
                        top: 0.5rem;

                        .video-control {
                            margin-bottom: 7px;
                        }

                        span {
                            display: block;
                            width: 15px;
                            height: 15px;
                            cursor: pointer;

                            &.add-to-favorites {
                                background: url('../../img/global/favorite.png') no-repeat center center/contain;
                            }

                            &.remove-to-favorites {
                                background: url('../../img/global/favorited.png') no-repeat center center/contain;
                            }

                            &.video-mute {
                                background: url('../../img/video/mute.png') no-repeat center center/contain;
                            }

                            &.video-unmute {
                                background: url('../../img/video/unmute.png') no-repeat center center/contain;
                            }

                        }


                    }

                    p {
                        font-weight: bold;
                        font-size: 1.6rem;

                        &.game-dis {
                            font-weight: 100;
                            font-size: 0.7rem;
                            color: #fff;
                            width: 100%;
                        }
                    }

                    .game-table-wrap {
                        border-radius: 3px;
                        margin: 7px 0 0;
                        overflow: hidden;
                    }


                }

                .game-wallet {
                    font-size: 0.8rem;
                    margin-top: -5px;
                    margin-bottom: 10px;

                    span {
                        font-size: 0.8rem;
                    }
                }

                .game-start {
                    background: #8D8D9F;
                    border-radius: 30px;
                    padding: 6px 43px;
                    display: inline-block;

                    a {
                        color: #292933;
                        font-size: 1rem;
                        font-weight: 600;
                        position: relative;
                        display: block;

                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 2px;
                            left: -16px;
                            width: 12px;
                            height: 12px;
                            background: url('../../img/global/play.png') no-repeat center center/contain;
                        }
                    }
                }

                .show-similar-games {
                    // height: 250px;
                    padding-bottom: 1rem;
                    overflow-y: hidden;

                    p {
                        color: #fff;
                        font-size: 12px;
                        padding: 0;
                    }
                }

                .more {
                    display: block;
                    height: 30px;
                    text-align: center;

                    &:before {
                        content: '';
                        cursor: pointer;
                        display: inline-block;
                        width: 12px;
                        height: 21px;
                        background: url('../../img/global/more.png') no-repeat center center/contain;
                    }
                }

            }
        }
    }
}

// @media screen and (max-width: 1600px) {
//     .hover-box {
//         left: -4.6%;

//         &.visible {
//             left: -4.6%;
//         }
//     }
// }

@media screen and (max-width: 1200px) {
    .section_box ul li {
        width: 23%;
        margin: 0.6rem;
    }

    .game-start {
        padding: 6px 23px;

        span {
            font-size: 0.9rem;
        }
    }
}



@media screen and (max-width: 992px) {
    .section_box ul li {
        width: 23%;
        margin: 0.4rem;
    }

    .game-title {
        font-size: 1rem !important;
    }

    .game-start {
        padding: 5px 30px 7px !important;

        a {
            font-size: 0.8rem !important;
            display: block;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0px !important;
                left: -16px;
                width: 12px;
                height: 12px;
                background: url('../../img/global/play.png') no-repeat center center/contain;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    /* 之後主選項目多再做滾動，目前先取消滾動 */
    /* .section_box {
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100vw;
    } */

    /* .section_box {
        flex-wrap: wrap;
    } */

    .section_box {
        ul {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin: 7px;
            list-style: none;
            justify-content: flex-start;

            li {
                list-style-type: none;
                margin-bottom: 0;
                /* margin-left: 11px; */
                position: relative;
                width: 23%;
                margin: 10px 5px;
                flex: 1;

                .games {
                    border-radius: 5px;

                    img {
                        height: auto;
                    }
                }

                .game-title {
                    font-size: 1rem;
                }

                .game-wallet {
                    font-size: 0.7rem;
                    margin-bottom: 10px;
                }

                .hover-box {
                    display: block;
                    transition: all 1s ease;
                    position: fixed;
                    top: auto;
                    bottom: 0;
                    right: -100vh;
                    left: auto;
                    width: 50%;
                    min-height: 100vh;
                    // height: 70vh;
                    background: rgba(41, 41, 51, 1);
                    // background: linear-gradient(to bottom, rgba(41, 41, 51, 0) 0%, rgba(41, 41, 50, 1) 60%, rgba(41, 41, 51, 1) 100%);
                    z-index: 999998;
                    overflow: hidden;
                    transform: scale(1);
                    opacity: 0;


                    &.visible {
                        right: 0;
                        top: 0;
                        transform: scale(1);
                        left: auto;
                        // min-height: 200px;
                        overflow-y: scroll;
                        height: 85%;
                        background: rgba(41, 41, 51, 1) !important;
                        box-shadow: -85vh 0 33px rgba(0, 0, 0, 0.7);
                        opacity: 1;
                        width: 50%;

                        .games {
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        .game-title {
                            font-size: 1.3rem !important;
                            margin-bottom: 10px;
                            ;
                        }

                        .game-wallet {
                            font-size: 0.9rem !important;
                            margin-bottom: 10px;
                        }


                    }

                    .show-similar-games {
                        padding-bottom: 5rem;
                        height: auto;

                        p {

                            font-size: 11px;

                        }
                    }

                    .more {
                        &.forpc {
                            display: none;
                        }
                    }

                }

                .close-hover-box {
                    position: absolute;
                    display: block;
                    width: 16px;
                    height: 16px;
                    left: 2.8rem;
                    top: 5rem;
                    z-index: 9;
                    background: url('../../img/global/close.png') no-repeat center center/contain;

                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: -8px;
                        left: -8px;
                        width: 32px;
                        height: 32px;
                        background: url('../../img/global/close2.png') no-repeat center center/cover;
                    }
                }


            }
        }
    }

}


@media screen and (max-width: 500px) {

    .section_box ul li {
        width: 30%;
        margin: 10px 5px;

        .hover-box {
            // top: auto;
            right: auto;
            left: 0;
            bottom: -100vh;
            min-height: 200px;
            width: 100%;
            opacity: 0;

            &.visible {
                top: auto;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 1;
                box-shadow: 0 -30vh 33px rgba(0, 0, 0, 0.7);
                width: 100%;
            }
        }

        .close-hover-box {
            right: 2.5rem;
            top: 2rem;
            left: auto;
        }


    }

}

@media screen and (max-width: 376px) {

    .section_box ul li {
        width: 47%;
    }

}

@media screen and (max-width: 340px) {

    .section_box ul li {
        width: 92%;
    }

}

@media screen and (min-width: 260px) and (max-width: 339px) {
    .section_box ul li {
        width: 90%;
    }
}