.game-reload-box {
    .game-reload {
        width: 33px;
        height: 33px;
        background: url('../../../img/games/reload.png') no-repeat center center/contain;
        cursor: pointer;
    }
}