.similar-games-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    .box {
        width: 47%;
        margin: 2px;

        .games {
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            &:before {
                display: none;
            }
        }

    }
}

@media screen and (max-width: 1082px) {
    .similar-games-box {

        .box {
            width: 48%;
            margin: 2px;


        }
    }
}