.how-to-play-box {
    .how-to-play {
        position: relative;
        width: 22px;
        height: 22px;
        cursor: pointer;
        margin-left: 15px;
        background: url('../../../img/games/howto.png') no-repeat center center/contain;

        .hover-box {
            position: fixed;
            left: -30rem;
            background: rgba(29, 29, 38, 0.8);
            padding: 20px 35px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            top: 6rem;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
            animation-name: anihowtoplayout;
            animation-duration: 1s;
            animation-timing-function: ease;
            transition: all 1s ease;
            min-width: 200px;
            z-index: 8;
            visibility: hidden;


            .flex-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &.visible {
                left: 0rem;
                animation-name: anihowtoplayin;
                animation-duration: 1s;
                animation-timing-function: ease;
                visibility: visible;

            }

            @keyframes anihowtoplayout {
                0% {
                    left: 0rem;
                }

                100% {
                    left: -30rem;
                }
            }


            @keyframes anihowtoplayin {
                0% {
                    left: -30rem;
                }

                100% {
                    left: 0rem;
                }
            }

            .title {
                width: 100%;
                text-align: center;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                padding-bottom: 7px;
                color: #fff;
            }

            .dis {
                font-size: 0.7rem;
                width: 200px;
                margin-top: 10px;
                color: #fff;
            }

        }
    }
}